# Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/renuwritespoem?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/renuwritespoem?schema=public"

# App
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"

# Auth/email
AUTH_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
ADMIN_EMAILS=""
RESEND_API_KEY=""
FROM_EMAIL="onboarding@resend.dev"
ADMIN_EMAIL=""
